.header
  = render partial: "posts/header"
.contents              
  .content
    - @bookmarks.each do |bookmark|
      .content__box
        .name
          %span 投稿者：
          = link_to bookmark.post.user.nickname, user_path(bookmark.post.user.id)
        .title
          %span Title：
          = bookmark.post.title
        .place
          %span Place:
          = bookmark.post.place
        .word
          %span A word:
          = bookmark.post.word
        .genre
          %span Genre:
          = bookmark.post.genre
        %ul.more
          %li= link_to '詳細', post_path(bookmark.post.id), method: :get, class: "show-btn"
          %li
            - if !Bookmark.exists?(user_id:current_user.id,post_id:bookmark.post.id)
              = link_to icon('fas', 'book-open') + "追加", bookmarks_path(post_id: bookmark.post.id),method: :post, class: "bookmark-btn"
            - else
              = link_to icon('fas', 'book') + "解除", bookmark_path(bookmark.post.id),method: :delete, class: "bookmark-btn"
          - if user_signed_in? && current_user.id == bookmark.post.user_id
            %li= link_to icon('fas', 'trash-alt', class: 'icon'), post_path(bookmark.post.id), method: :delete, class: "destroy-btn"
            %li= link_to icon('fas', 'edit', class: 'edit'), edit_post_path(bookmark.post.id), method: :get, class: "edit-btn"
        .image
          - bookmark.post.images.each do |image| 
            = link_to image.src.url, 'data-lightbox': :image do 
              = image_tag image.src.url, class: "image__post"
  .page
    = paginate(@bookmarks)
.footer
  .footer__text
