.header
  .header__name
    Restaurant　reviews
.account
  .account-page#account-page
    .account-page__inner.clearfix
      .account-page__inner--left.account-page__header
        %h2 Log in
        = render "devise/shared/links"
      .account-page__inner--right.user-form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            .field__input
              = f.email_field :email, placeholder: "Email", autofocus: true, class: "email"
            .field__input
              = f.password_field :password, placeholder: "password", autocomplete: "off",class: "password"
            .actions
              = f.submit "Log in", class: 'btn'
.footer-log
