.container__left
  .title
    = form.text_field :title, class: "title__text", placeholder: "title" , rows: "10"
  .genre
    = form.text_field :genre, class: "genre__text", placeholder: "genre"
  .place
    = form.text_field :place, class: "place__text", placeholder: "place"
  .word
    = form.text_field :word, class: "word__text", placeholder: "word"
  .image-form
    = form.file_field :image, class: "image-form__text"
  .submit
    = form.submit "SEND", class: "submit__btn"
.container__right
  .review
    = form.text_area :review, class: "review__text", placeholder: "review" , rows: "10"