.header__name
  = link_to "Restaurant　reviews", root_path, class: 'header__title' 
.search
  = form_with(url: search_posts_path, local: true, method: :get) do |form|
    = form.text_field :keyword, placeholder: "投稿を検索する", class: "text-field"
    = button_tag type: 'submit', class: "submit" do
      = icon('fas', 'search')
.header__posts
  .right
    #nav-drawer
      %input#nav-input.nav-unshown{type: "checkbox"}/
      %label#nav-open{for: "nav-input"}
        %span
      %label#nav-close.nav-unshown{for:"nav-input"}
      #nav-content 
        - if user_signed_in?
          .mypage
            = link_to current_user.nickname, user_path(current_user), class: "mypage__name"
          .post
            = link_to "新規投稿", new_post_path, class: "post__new"
          .log
            = link_to "ログアウト", destroy_user_session_path, method: :delete,class: "log__out"
        - else
          .header__posts__right
            = link_to "ログイン", new_user_session_path, class: 'right__log'
            = link_to "新規登録", new_user_registration_path, class: 'right__post'