.content
  - @posts.each do |post|
    .content__box
      .name
        %span 投稿者：
        = link_to post.user.nickname, user_path(post.user.id)
      .title
        %span Title：
        = post.title
      .place
        %span Place:
        = post.place
      .word
        %span A word:
        = post.word
      .time
        = post.created_at.to_s(:datetime_jp)
      %ul.more
        %li= link_to '詳細', post_path(post.id), method: :get, class: "show-btn"
        %li
          - if !Bookmark.exists?(user_id:current_user.id,post_id:post.id)
            = link_to icon('fas', 'book-open'), bookmarks_path(post_id: post.id),method: :post,class: "bookmark-btn"
          - else
            = link_to icon('fas', 'book'), bookmark_path(post.id),method: :delete,class: "bookmark-btn"

        - if user_signed_in? && current_user.id == post.user_id
          %li= link_to icon('fas', 'times-circle', class: 'icon'), post_path(post.id), method: :delete, class: "destroy-btn"
          %li= link_to icon('fas', 'edit', class: 'edit'), edit_post_path(post.id), method: :get, class: "edit-btn"
        
      .image
        - post.images.each do |image|
          = link_to image.src.url, 'data-lightbox': image do 
            = image_tag image.src.url, class: "image__post"

        -# - if post.image
          -# =  link_to post.image.url, 'data-lightbox': post.image do 
          -#   = image_tag post.image.url, class: "image__post"