.contents.row
  .container
    = form_with(model: @post, local: true) do |f|
      %h3編集する
      .title
        = f.text_field :title, class: "title__text", placeholder: "title" , rows: "10"
      .word
        = f.text_field :word, class: "word__text", placeholder: "word"
      
      .image
        = f.file_field :image, class: "image__text"
        
      .submit
        = f.submit "SEND"

      -# = f.text_field :word, placeholder: "word" %>
      -# <%= form.text_field :image, placeholder: "Image Url" %>
      -# <%= form.text_area :text, placeholder: "text" , rows: "10" %>
      -# <%= form.submit "SEND" %>
