.header
  .header__name
    = link_to "Restaurant　reviews", root_path, class: 'header__title' 
  .header__posts
    - if user_signed_in?
      .header__posts__right
        = link_to current_user.nickname, user_path(current_user), class: "name-btn"
        = link_to "新規投稿", new_post_path, class: "user-name"
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "post-btn"
    - else
      .header__posts__right
        = link_to "ログイン", new_user_session_path, class: 'post'
        = link_to "新規登録", new_user_registration_path, class: 'post'
.contents.row
  = form_with(model: @post, local: true) do |form|
    %h3投稿する
    = render partial: "form", locals: { form: form }

   