.header
  .header__name
    usernameの料理
  .header__posts
    .header__log
      ログイン
    .header__btn
      新規投稿
.contents
  .search
    %form
      %input.text-field{type: "text"}/
      %button.submit{type: "submit"} 検索
  .content
    - @posts.each do |post|
      .content__box{style: "background-image: ur(#{post.image});"}
        .more
          %span= image_tag 'arrow_top.png'
          %ul.more__list
            %li= link_to icon('fas', 'edit', class: 'btn'), "/posts/#{post.id}/edit", method: :get 
            %li= link_to icon('fas', 'times-circle', class: 'icon'), "/posts/#{post.id}", method: :delete
            %li= link_to '詳細', "/posts/#{post.id}", method: :get

        %p.content__box__title
          = post.title
        %span.content__box__word
          = post.word
.footer