.header
  .header__name
    = link_to "Restaurant　reviews", root_path, class: 'header__title' 
  .search
    = form_with(url: search_posts_path, local: true, method: :get) do |form|
      = form.text_field :keyword, placeholder: "投稿を検索する", class: "text-field"
      = button_tag type: 'submit', class: "submit" do
        = icon('fas', 'search-location')

      -# %button.submit{type: "submit"} 
      -#   %i.fas.fa-search-location
    -#   %input.text-field{type: "text"}/
    

  .header__posts
    - if user_signed_in?
      .header__posts__right
        = link_to current_user.nickname, user_path(current_user), class: "name-btn"
        = link_to "新規投稿", new_post_path, class: "user-name"
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "post-btn"
    - else
      .header__posts__right
        = link_to "ログイン", new_user_session_path, class: 'post'
        = link_to "新規登録", new_user_registration_path, class: 'post'
.contents
  .content
    - @posts.each do |post|
      .content__box
        .name
          %a{:href => "/users/#{post.user.id}"}
            %span 投稿者
            = post.user.nickname
        .title
          %span Title：
          = post.title
        .place
          %span Place:
          = post.place
        .word
          %span A word:
          = post.word
        .time
          = post.created_at.to_s(:datetime_jp)
        %ul.more
          %li= link_to '詳細', "/posts/#{post.id}", method: :get
          - if user_signed_in? && current_user.id == post.user_id
            %li= link_to icon('fas', 'times-circle', class: 'icon'), "/posts/#{post.id}", method: :delete
            %li= link_to icon('fas', 'edit', class: 'edit'), "/posts/#{post.id}/edit", method: :get 
        .image
          - if post.image 
            =  link_to post.image.url, 'data-lightbox': post.image do 
              = image_tag post.image.url if post.image? 



  .page
    = paginate(@posts)
.footer
  .footer__text




