.contents.row
  .container
    = form_with(model: @post, local: true) do |f|
      %h3投稿する
      .title
        = f.text_field :title, class: "title__text", placeholder: "title" , rows: "10"
      .word
        = f.text_field :word, class: "word__text", placeholder: "word"
      .review
        = f.text_area :review, class: "review__text", placeholder: "review" , rows: "10"
      .image
        = f.file_field :image, class: "image__text"
      .submit
        = f.submit "SEND"
