.header
  .header__name
    = link_to "Cooking review", root_path, class: 'header__title' 
  .search
    %form
      %input.text-field{type: "text"}/
      %button.submit{type: "submit"} 
        %i.fas.fa-search-location
    
  .header__posts
    - if user_signed_in?
      .header__posts__right
        = link_to "nickname", "/users/#{current_user.id}", class: 'user-name'
        = link_to  "投稿", "/posts/new", class: "post-btn"
      -# = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      .header__posts__right
        = link_to "ログイン", new_user_session_path, class: 'post'
        = link_to "新規登録", new_user_registration_path, class: 'post'

.contents.row
  .container
    = form_with(model: @post, local: true) do |form|
      %h3投稿する
      = render partial: "form", locals: { form: form }
