.header
  .header__name
    usernameの料理
  .header__posts
    .header__log
      ログイン
    .header__btn
      新規投稿
.contents.row
  .container
    = form_with(model: @post, local: true) do |f|
      %h3投稿する
      .word
        = f.text_field :word, class: "word__text", placeholder: "word"
      .title
        = f.text_field :title, class: "title__text", placeholder: "title" , rows: "10"
      .image
        = f.file_field :image, class: "image__text"
      .submit
        = f.submit "SEND"
