.header
  = render partial: "header"
.container
  .container__left
    - @post.images.each do |image|
      = link_to image.src.url, 'data-lightbox': image do 
        = image_tag image.src.url, class: "image__show"
    .more
    - if user_signed_in? && current_user.id == @post.user_id
      -# %span
      -#   = image_tag 'arrow_top.png'
      %ul.more_list
        %li
          = link_to '編集', edit_post_path(@post.id), method: :get, class: "more_list__left"
        %li
          = link_to '削除', post_path(@post.id), method: :delete, class: "more_list__raight"
    .name
      %span.name
        = link_to @post.user.nickname, user_path(@post.user.id), class: "name__post"
    .title
      %span Title：
      = @post.title
    .genre
      %span Genre:
      = @post.genre
    .place
      %span Place:
      = @post.place
    .word
      %span A word:
      = @post.word
    .time
      .time__text
      = @post.created_at.to_s(:datetime_jp)
  .container__right
    .review-show
      = safe_join(@post.review.split("\n"),tag(:br))