.header
  .header__name
    = link_to "Restaurant　reviews", root_path, class: 'header__title' 
  .search
    %form
      %input.text-field{type: "text"}/
      %button.submit{type: "submit"} 
        %i.fas.fa-search-location
  .header__posts
    - if user_signed_in?
      .header__posts__right
        = link_to current_user.nickname, user_path(current_user), class: "name-btn"
        = link_to "新規投稿", new_post_path, class: "user-name"
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "post-btn"
    - else
      .header__posts__right
        = link_to "ログイン", new_user_session_path, class: 'post'
        = link_to "新規登録", new_user_registration_path, class: 'post'
.container
  .container__left
    = image_tag @post.image.url, class: "image-show"
    .more
    - if user_signed_in? && current_user.id == @post.user_id
      %span= image_tag 'arrow_top.png'
      %ul.more_list
        %li
          = link_to '編集', edit_post_path(@post.id), method: :get
        %li
          = link_to '削除', post_path(@post.id), method: :delete
    .name
      %span.name
        %a{href: "/users/#{@post.user.id}"}
          %span 投稿者
          = @post.user.nickname
    .title
      %span Title：
      = @post.title
    .genre
      %span Genre:
      = @post.genre
    .where
      %span Place:
      = @post.where
    .word
      %span A word:
      = @post.word
    .time
      .time__text
      = @post.created_at.to_s(:datetime_jp)
  .container__right
    .review-show
      = safe_join(@post.review.split("\n"),tag(:br))

